#addClassPage{
    margin-top: 10em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#classForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#classSubmit {
    margin: 25px;
    background-color: red;
}