#Component{
    margin: 10px;
    min-height: 80vh;
    border-style: solid;
    border-radius: 5%;
    border-width: 5px;
    border-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

#classNotes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#addNoteButton {
  margin-top: 0px;
}

#notesLabel{
  margin-bottom: 5px;
}
#removeClassButton{
  margin-left: 25px;
  background-color: red;
}
#classStudentDelete{
  display: flex;
  justify-content: center;
}